<main class="TodoPageMain">
      <h1 class="TodoPage-title">My Todo-List</h1>
      <form class="AddTodo" action = "/todos" method = "POST">
        <input class="AddTodo-text" type="text" placeholder="What's next?" name = "todo_text"/>
        <input class="AddTodo-date" type="date" name= "due_date"/>
        <input class="AddTodo-button" type="submit" value="Add" />
      </form>

      <%= render partial: "todo-section", locals: {
        section_head: "Overdue",
        todos: Todo.overdue,
        show_due_date: true,
        render_completed: false,
       } %>
       <%= render partial: "todo-section", locals: {
        section_head: "Due Today",
        todos: Todo.due_today,
        show_due_date: false,
        render_completed: true,
      } %>
       <%= render partial: "todo-section", locals: {
        section_head: "Due Later",
        todos: Todo.due_later,
        show_due_date: true,
        render_completed: true,
      } %>
</main>
